#do-header,
#do-footer {
  font-size: 13px;
}

#do-header td,
#do-footer td {
  border: none;
  line-height: 18px;
  vertical-align: top;
}

#do-header textarea,
#do-footer textarea {
  padding: 5px;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 13px;
  box-sizing: border-box;
}

#do-header td:nth-child(2n + 1),
#do-footer td:nth-child(2n + 1) {
  width: 120px;
  font-weight: bold;
}

#do-models th,
#do-models td {
  min-width: 0px;
  max-width: 0px;
  border-left: none;
  border-right: none;
  line-height: 25px;
}

#do-models td {
  border-top: none;
  border-bottom: none;
}

#do-models thead th {
  border-bottom: 1px solid;
}

#do-models tfoot th {
  border-top: 1px solid;
}

#do-models .number {
  text-align: right;
}

#do-models-no-results,
#do-not-found {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 200px;
  opacity: 0.3;
}
