#stock-input {
  margin: 0px;
}

#stock-input td {
  border: none;
  font-size: 13px;
}

#stock-input input,
#stock-input select {
  width: 100%;
  box-sizing: border-box;
}

.stock-header {
  margin: 0px;
  font-size: 13px;
  height: 40px;
}

.stock-header td {
  border: none;
}

.stock-header td:first-child {
  padding-left: 0px;
}

.stock-header td:last-child {
  padding-right: 0px;
}

.stock-header td:nth-child(2n + 1) {
  width: 60px;
  font-weight: bold;
}

.stock-header td:nth-child(3),
.stock-header td:nth-child(4) {
  width: 100px;
  text-align: right;
}

.stock-header td .header-button {
  vertical-align: middle;
  margin: 0px;
}

.stock-results th,
.stock-results td {
  min-width: 20px;
  max-width: 20px;
  border-left: none;
  border-right: none;
}

.stock-results td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stock-results .number {
  text-align: right;
}

.stock-results .action-button {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: auto 0px 0px auto;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}

.stock-results .action-button.add::after {
  content: "+";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  color: rgb(10, 200, 10);
}

.stock-results .action-button.remove::after {
  content: "×";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  color: rgb(255, 100, 100);
}

.stock-results .stock-model td {
  vertical-align: top;
  line-height: 23px;
}

.stock-results .stock-model .allot-qty {
  width: 100%;
  box-sizing: border-box;
}

.stock-results .stock-model .allot-qty.packed {
  border-color: transparent;
}

.stock-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
