#so-input td {
  border: none;
  font-size: 13px;
}

#so-input select {
  width: 100%;
  box-sizing: border-box;
}

#so-input #input-outstanding-only {
  margin: 0px;
}

.so-results td {
  min-width: 0px;
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.so-results .number {
  text-align: right;
}

.so-client-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
