#menu-sidebar {
  position: fixed;
  padding-top: 60px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 60px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 1);
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

#menu-sidebar.show {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.9);
}

#menu-sidebar .toggle-button {
  position: absolute;
  border: none;
  margin: 0px;
  padding: 0px;
  top: 0;
  right: 0px;
  width: 60px;
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  text-align: center;
  color: #b4b4b4;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

#menu-sidebar .toggle-button::after {
  content: "☰";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  font-size: 30px;
}

#menu-sidebar.show .toggle-button::after {
  content: "×";
  font-size: 40px;
}

#menu-sidebar .toggle-button:hover {
  color: #ffffff;
}

#menu-sidebar .menu-item {
  display: block;
  padding: 5px 0px 5px 5px;
  width: 350px;
  max-height: 28px;
  box-sizing: border-box;
  font-size: 16px;
  color: #bbbbbb;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}

#menu-sidebar .menu-item.logout {
  margin-top: 50px;
}

#menu-sidebar.show .menu-item {
  max-height: 200px;
}

#menu-sidebar .menu-item:hover {
  color: #ffffff;
}

#menu-sidebar .menu-item.active {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

#menu-sidebar .menu-item span {
  display: inline-block;
  padding: 0px;
  width: 250px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  text-align: left;
}

#menu-sidebar .menu-item .initial {
  width: 50px;
  padding-left: 5px;
  box-sizing: initial;
  transition: 0.3s;
}

#menu-sidebar .sub-menu {
  max-height: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: 0.3s;
}

#menu-sidebar.show .sub-menu .menu-item .initial {
  padding-left: 15px;
}

#menu-sidebar.show .sub-menu .sub-menu .menu-item .initial {
  padding-left: 25px;
}

#menu-sidebar.show .sub-menu .sub-menu .sub-menu .menu-item .initial {
  padding-left: 35px;
}

#menu-sidebar .menu-item.toggle {
  font-weight: bold;
}

#menu-sidebar .menu-item.toggle.expanded {
  color: white;
}

#menu-sidebar .menu-item.toggle.expanded + .sub-menu {
  max-height: 100vh;
}

#menu-back {
  position: absolute;
  top: 20px;
  left: 80px;
}
