#pl-header,
#pl-footer {
  font-size: 13px;
}

#pl-header td,
#pl-footer td {
  border: none;
}

#pl-header td:nth-child(2n + 1),
#pl-footer td:nth-child(2n + 1) {
  width: 120px;
  font-weight: bold;
}

#pl-models th,
#pl-models td {
  min-width: 0px;
  max-width: 0px;
  border: none;
}

#pl-models thead th {
  border-bottom: 1px solid lightgray;
}

#pl-models tfoot th {
  border-top: 1px solid lightgray;
}

#pl-models .number {
  text-align: right;
}

#pl-footer #remarks {
  padding: 5px;
  width: 100%;
  height: 80px;
  font-family: inherit;
  font-size: 13px;
  box-sizing: border-box;
}

#pl-models-no-results,
#pl-not-found {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.3;
}
