#currency-input td {
  border: none;
  font-size: 13px;
}

#currency-input select {
  width: 100%;
  box-sizing: border-box;
}

#currency-input #input-live-only {
  margin: 0px;
}

#currency-results th,
#currency-results td {
  min-width: 0px;
  max-width: 0px;
}

#currency-results td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#currency-results .quantity {
  text-align: center;
}

#currency-results .number {
  text-align: right;
}

.currency-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
