#inv-header {
  font-size: 13px;
}

#inv-header td {
  border: none;
}

#inv-header td:nth-child(2n + 1) {
  width: 100px;
  font-weight: bold;
}

#inv-models th,
#inv-models td {
  background-color: transparent;
  border: none;
  padding: 4px;
  font-size: 13px;
}

#inv-models .number {
  text-align: right;
}

#inv-models thead th {
  border-bottom: 1px solid;
}

#inv-models tfoot th {
  border-top: 1px solid;
}

#inv-models-no-results,
#inv-not-found {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.3;
}
