.enquiry-footer {
  page-break-inside: avoid;
}

.enquiry-header td,
.enquiry-footer td {
  vertical-align: top;
  border: none;
  white-space: pre;
  font-size: 13px;
}

.enquiry-header td:nth-child(2n + 1),
.enquiry-footer td:nth-child(2n + 1) {
  width: 100px;
  font-weight: bold;
}

.enquiry-models th,
.enquiry-models td {
  min-width: 0px;
  max-width: 0px;
  background-color: transparent;
  border: none;
  font-size: 13px;
}

.enquiry-models th {
  border-top: none;
}

.enquiry-models .quantity {
  text-align: center;
}

.enquiry-models .number {
  text-align: right;
}

.enquiry-models thead th {
  border-bottom: 1px solid;
}

.enquiry-models tbody tr:last-child th {
  border-top: 1px solid;
}

.enquiry-models-no-results,
#enquiry-not-found {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 200px;
  opacity: 0.3;
}

.printout-button-wrapper form {
  display: inline-block;
}
