body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  margin: 2px;
  margin-top: 0px;
  padding: 5px 20px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-bottom: 3px solid darkgray;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

button:active {
  margin-top: 2px;
  border-bottom: 1px solid darkgray;
}

table {
  margin: 20px 0px;
  clear: both;
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
}

table th,
table td {
  padding: 5px;
  text-align: left;
  box-sizing: border-box;
  line-height: 13px;
}

table thead th,
table tbody td {
  border: 1px solid black;
}

table thead th {
  background-color: #eeeeee;
}

.page-wrapper {
  display: block;
  margin: auto;
  width: 800px;
}

.headline {
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.print-only {
  display: none;
}

.image-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
}

.delete-image {
  background-image: url("../../resources/close.png");
}

.clear-image {
  background-image: url("../../resources/clear.png");
}

.copy-image {
  background-image: url("../../resources/copy.png");
}

.clear-import-image {
  background-image: url("../../resources/clear-import.png");
}

.import-image {
  background-image: url("../../resources/import.png");
}

.export-image {
  background-image: url("../../resources/export.png");
}

.expand-all-image {
  background-image: url("../../resources/expand-all.png");
}

.collapse-all-image {
  background-image: url("../../resources/collapse-all.png");
}

.restart-image {
  background-image: url("../../resources/restart.png");
}

@media print {
  .web-only {
    display: none;
  }

  .print-only {
    display: inherit;
  }
}
