#trans-input td {
  border: none;
  font-size: 13px;
  padding: 0px 5px;
}

#trans-input input,
#trans-input select {
  width: 100%;
  box-sizing: border-box;
}

#trans-results th,
#trans-results td {
  min-width: 0px;
  max-width: 0px;
}

#trans-results td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#trans-results .number {
  text-align: right;
}

.trans-client-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
