#so-input,
#so-results {
  margin: 0px;
}

#so-input {
  width: 400px;
}

#so-input td {
  border: none;
  font-size: 13px;
}

#so-input input,
#so-input select {
  width: 100%;
  box-sizing: border-box;
}

#so-results td {
  min-width: 50px;
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#so-results .link {
  text-decoration: none;
}

#so-results .number {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.so-customer-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.3;
}
