#table-wrapper {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: auto;
}

#table {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid darkgray;
}

#table-tab {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid darkgray;
  border-radius: 5px;
  overflow: hidden;
}

#table-tab > .tablink {
  display: inline-block;
  padding: 10px 0px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

#table-tab > .tablink.active {
  background-color: darkgray;
  color: white;
  font-weight: bold;
}

.tabcontent {
  display: none;
}

.tabcontent.show {
  display: block;
}

#content {
  overflow: auto;
}

#content #table-query > textarea {
  width: 100%;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
}

#content #table-query > button {
  margin: 10px 0px;
  float: left;
}

#content #table-query-settings {
  display: inline-block;
  margin: 10px 0px;
  float: right;
}

#content #table-query-settings select {
  height: 30px;
}

#content #table-query-settings span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

#content #table-query-error {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
  font-size: 20px;
  line-height: 24px;
  color: red;
}

#content #table-query-no-results {
  display: inline-block;
  margin: 100px 0px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}

#structure-table th,
#structure-table td {
  min-width: 0px;
  max-width: 0px;
}
