#table-wrapper {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: auto;
}

#table {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid darkgray;
}

#table-tab {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid darkgray;
  border-radius: 5px;
  overflow: hidden;
}

#table-tab > .tablink {
  display: inline-block;
  padding: 10px 0px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

#table-tab > .tablink.active {
  background-color: darkgray;
  color: white;
  font-weight: bold;
}

.tabcontent {
  display: none;
}

.tabcontent.show {
  display: block;
}

#content {
  overflow: auto;
}

#content #table-query {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}

#content #table-query > textarea {
  padding: 5px;
  margin-bottom: 10px;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  border-radius: 5px;
  box-sizing: border-box;
}

#content #table-query-count {
  display: inline-block;
  padding: 5px 0px;
}

#content #table-query-settings {
  display: inline-block;
  float: right;
}

#content #table-query-settings button,
#content #table-query-settings select,
#content #table-query-settings span {
  padding: 5px;
  vertical-align: middle;
}

#content #table-query-settings button,
#content #table-query-settings span {
  display: inline-block;
  margin: 0px 5px;
}

#content #table-query-settings select {
  margin-left: 10px;
}

#content #table-query-settings textarea {
  display: none;
}

#content #table-query-results-wrapper {
  margin: 20px 0px;
  width: 100%;
  overflow: auto;
}

#content #table-query-results-wrapper table {
  margin: 0px;
}

#content #table-query-error {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
  font-size: 20px;
  line-height: 24px;
  color: red;
}

#content #table-query-no-results {
  display: inline-block;
  margin: 100px 0px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}

#structure-table th,
#structure-table td {
  min-width: 0px;
  max-width: 0px;
}
