#admin-wrapper {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: auto;
}

#databases {
  margin: auto;
  padding: 20px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid darkgray;
}
