#stock-in-input td {
  border: none;
  font-size: 13px;
}

#stock-in-input input,
#stock-in-input select {
  width: 100%;
  box-sizing: border-box;
}

#stock-in-results td {
  min-width: 0px;
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#stock-in-results .number {
  text-align: right;
}

#stock-in-results input[type="checkbox"] {
  margin: 0px;
  height: 10px;
}

.stock-in-customer-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
