.do-page {
  display: inline-block;
  width: 100%;
  page-break-after: always;
}

.do-header,
.do-footer {
  font-size: 16px;
}

.do-header td {
  vertical-align: top;
}

.do-header td,
.do-footer td {
  border: none;
}

.do-header td:nth-child(2n + 1),
.do-footer td:nth-child(2n + 1) {
  width: 100px;
  font-weight: bold;
}

.do-models th,
.do-models td {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 16px;
}

.do-models .number {
  text-align: right;
}

.do-models thead th {
  border-bottom: 1px solid;
}

.do-models tfoot th {
  border-top: 1px solid;
}

.do-models-no-results,
#do-not-found {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.3;
}
