#payment-input td {
  border: none;
  font-size: 13px;
}

#payment-input input,
#payment-input select {
  width: 100%;
  box-sizing: border-box;
}

#payment-input #deposit-only {
  width: auto;
  margin: 0px;
}

#payment-results td {
  min-width: 0px;
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#payment-results .number {
  text-align: right;
}

#payment-results input[type="checkbox"] {
  margin: 0px;
  height: 10px;
}

.payment-client-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
