.enquiry-footer {
  page-break-inside: avoid;
}

.enquiry-header td,
.enquiry-footer td {
  vertical-align: top;
  border: none;
  white-space: pre;
  font-size: 18px;
  line-height: 18px;
}

.enquiry-header td:nth-child(2n + 1),
.enquiry-footer td:nth-child(2n + 1) {
  width: 100px;
  font-weight: bold;
}

.enquiry-precaution {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
}

.enquiry-models th,
.enquiry-models td {
  background-color: transparent;
  border-left: none;
  border-right: none;
  font-size: 18px;
  line-height: 18px;
}

.enquiry-models th {
  border-top: none;
}

.enquiry-models .number {
  text-align: right;
}

.enquiry-models thead th {
  border-bottom: 2px solid;
}

.enquiry-models tbody tr:last-child th {
  border-top: 2px solid;
}

.enquiry-models-no-results,
#enquiry-not-found {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 200px;
  opacity: 0.3;
}
