#so-input td {
  border: none;
  font-size: 13px;
}

#so-input select {
  width: 100%;
  box-sizing: border-box;
}

#so-input #input-outstanding-only,
#so-input #input-to-order-only {
  margin: 0px;
}

#so-input #input-outstanding-only-print,
#so-input #input-to-order-only-print {
  text-indent: 5px;
}

#so-input #input-to-order-only {
  margin-left: 10px;
}

.so-brand h4 {
  display: inline-block;
  margin-bottom: 0px;
}

.so-results th,
.so-results td {
  min-width: 0px;
  max-width: 0px;
}

.so-results td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.so-results .number {
  text-align: right;
}

.so-results .category {
  text-align: center;
}

.so-model-no-results {
  margin: 100px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.3;
}
