#database-wrapper {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: auto;
}

#database {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid darkgray;
}

#database .count {
  display: inline-block;
  padding: 0px 10px;
  font-size: 12px;
  vertical-align: middle;
}

#ajax-error-bar {
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: -100%;
  color: #aa0000;
  background-color: #ff8888;
  border-top: 1px solid #aa0000;
  border-bottom: 1px solid #aa0000;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

#ajax-error-bar.show {
  bottom: 10px;
}

#database-query {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

#database-query textarea {
  width: 100%;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
}

#database-query button {
  margin: 10px 0px;
}

#database-query pre {
  white-space: inherit;
}
